<div class="errors"></div>

<form class="board-submit">
	<label for="title"> Board Name </label>
	<input id="title" name="title" type="text"></input>
	
	<button class="btn button-submit">Submit</button>
</form>