<h1> <%= model.get('title') %> </h1>

<h3> Lists(<%= model.lists().length %>) </h3>
<div class="new-list"></div>
<a href="#/">Index </a>
<button class="remove-button btn button">Delete Board</button>
<br>
<ul class="lists"></ul>


