/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */




@import "bootstrap";
@import "font-awesome";

.list-submit {
	display: inline-block;
}

ul.lists {
	min-height: 500px;
}

ul.lists>li{
	display: inline-block;
	border: thin solid black;
	list-style: none;
	float: left;
}

ul.lists h3{
	display: block;
	padding: 1%;
	background: #FFFF99;
}

.listItem {
	padding: 1%;
	min-height: 200px;
}

li.cardcard .btn{
	display: none;
}

li.cardcard:hover > .btn{
	display: inline-block;
}

#menu {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #FFFF99;
}

#menu li{
	display: inline-block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background: #FFFF99;
}

#menu h1{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: #FFFF99;
}


#list-menu li{
	display: inline;
}

.dragged {
	transform: rotate(10deg);
}

.listItem {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

