<!-- <form class="list-submit">
	<label for="title"> </label>
	<input id="title" name="title" type="text" placeholder="List Name"></input>

	<button class="btn">Submit</button>
</form> -->

	<ul id="list-menu">
		<li> <a href="#/" class="btn">Index </a> </li>
		<li> <button class="remove-button btn button">Delete Board</button> </li>
		<li class="new-list">
		<form class="list-submit">
			<label for="title"> </label>
			<input id="title" name="title" type="text" placeholder="List Name"></input>

			<button class="btn">Submit</button>
		</form>
		 </li>
</ul>